        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {}
        
        .container {
            display: flex;
            width: 300px;
            height: 400px;
            overflow: hidden;
            border: 5px solid black;
            position: relative;
            margin: auto;
        }
        
        .container #prevBtn {
            position: absolute;
            top: 50%;
            left: 5%;
            font-size: 40px;
            z-index: 10;
            color: white;
        }
        
        .container #nextBtn {
            position: absolute;
            top: 50%;
            right: 5%;
            font-size: 40px;
            z-index: 10;
            color: white;
        }
        
        .img-wrapper {
            display: flex;
        }
        
        .img-wrapper img {
            width: 300px;
        }